<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peterson.firstapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Cad_Pessoal"
            android:label="@string/title_activity_cad__pessoal" >
        </activity>
        <activity
            android:name=".Cad_Conta"
            android:label="@string/title_activity_cad__conta" >
        </activity>
        <activity
            android:name=".Treino"
            android:label="@string/title_activity_treino" >
        </activity>
        <activity
            android:name=".Dieta"
            android:label="@string/title_activity_dieta" >
        </activity>
        <activity
            android:name=".Runner"
            android:label="@string/title_activity_runner" >
        </activity>
        <activity
            android:name=".Anti_Sedentary"
            android:label="@string/title_activity_anti__sedentary" >
        </activity>
    </application>

</manifest>
